---
layout: default

testimonials:
- picture: 4a
  quote:Pacifica loves her video lessons with Nathan.  He has a way of making everything appear like a fun game while being mindful of her attention and mood.Pacifica has so much fun with Nathan, she doesn't realize how much she's learning.
  from: Raquel Morrison (Pacifica, age 4)
- picture: 3a
  quote: There is a visceral value to the music of Nathan Stell.  Articulate, yet impulsive.  He communicates sonically better than anyone I know.
  from: Austin Savage (age 33)
- picture: 3b
  quote: Nathan breaks material down to a very fundamental level.  He has a passion for his craft and the patience of a Tibetan monk.
  from: Frank Ryan Leal (age 27)
- picture: 5a
  quote: Nathan is an amazing musician and an exceptional teacher.  He modifies the lesson plan to accomodate each student's level and learning style.  Highly recommended!
  from: Tina Huey (Chase, age 5)
- picture: 1a
  quote: Mr. Stell is an amazing teacher. He has taught me to be confident in myself and in the music I play. When I first started playing violin I thought I couldn’t get the right sound out, let alone play a concert, and I wouldn’t have been able to do so without Mr. Stell as my teacher.  I am awed by his talent, knowledge of music, and experience, and I hope one day I will too be a great violinist like Mr. Nathan Stell.
  from: Brianna Jimenez and Andrea Macias (ages 13)
---

    {% include header.html %}
    {% include services.html %}
    {% include about.html %}
    {% include portfolio_grid.html %}
    {% include team.html %}
    {% include clients.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
