<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me</h2>
                    <h3 class="section-subheading text-muted">Get to know Nathan Stell</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1985</h4>
                                    <h4 class="subheading">A Young Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Began playing a violin at the age of three under a Suzuki Violin Instructor in El Paso, TX.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000</h4>
                                    <h4 class="subheading">Higher Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continued studying the violin throughout elementary, middle, and high school, and pursued music in university. Played 2nd chair, 1st violin in the UTEP Symphony Orchestra and 5th chair, 1st violin in the University of Notre Dame Symphony Orchestra.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2001</h4>
                                    <h4 class="subheading">Private Lessons</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Began teaching private violin lessons to local middle and high school students.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008 - Present</h4>
                                    <h4 class="subheading">Public Lessons</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Hired to be director of orchestra, band, and choir for three different elementary/middle schools.</p>
                                </div>
                            </div>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">The Birth of an Idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Conceived a new way to teach lessons and interact with students and parents.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be A Part
                                    <br>Of The
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
