<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Testimonials</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

<div class="gallery">
<li></li>
<li></li>
<a href="img/portfolio/students/1a-old.jpg" target="_blank">
<img src="img/portfolio/students/1a.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/1b-old.jpg" target="_blank">
<img src="img/portfolio/students/1b.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/1c-old.jpg" target="_blank">
<img src="img/portfolio/students/1c.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/2a-old.jpg" target="_blank">
<img src="img/portfolio/students/2a.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/2b-old.jpg" target="_blank">
<img src="img/portfolio/students/2b.jpg" style="width:200px;height:200px" hspace="10">
</a>
<li></li>
<a href="img/portfolio/students/2c-old.jpg" target="_blank">
<img src="img/portfolio/students/2c.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/2d-old.jpg" target="_blank">
<img src="img/portfolio/students/2d.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/3a-old.jpg" target="_blank">
<img src="img/portfolio/students/3a.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/3b-old.jpg" target="_blank">
<img src="img/portfolio/students/3b.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/4a-old.jpg" target="_blank">
<img src="img/portfolio/students/4a.jpg" style="width:200px;height:200px" hspace="10">
</a>
<li></li>
<a href="img/portfolio/students/4b-old.jpg" target="_blank">
<img src="img/portfolio/students/4b.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/4c-old.jpg" target="_blank">
<img src="img/portfolio/students/4c.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/4d-old.jpg" target="_blank">
<img src="img/portfolio/students/4d.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/4e-old.jpg" target="_blank">
<img src="img/portfolio/students/4e.jpg" style="width:200px;height:200px" hspace="10">
</a>
<a href="img/portfolio/students/5a-old.jpg" target="_blank">
<img src="img/portfolio/students/5a.jpg" style="width:200px;height:200px" hspace="10">
</a>
<li></li>
<a href="img/portfolio/students/5b-old.jpg" target="_blank">
<img src="img/portfolio/students/5b.jpg" style="width:200px;height:200px" hspace="10">
</a>
</div>



<!--                     <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive" alt="">
                    </a>
 --><!--                     <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
 -->            </div>
            </div>
        </div>
    </section>