<!-- Portfolio Grid Section -->
<section id="portfolio" class="testimonials bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Testimonials</h2>
      </div>
    </div>
    <div class="gallery">
      {% for testimonial in page.testimonials %}
        <div class="row">
          <div class="col-sm-3">
            <a href="img/portfolio/students/{{ testimonial.picture }}-old.jpg" target="_blank">
              <img src="img/portfolio/students/{{ testimonial.picture }}.jpg" >
            </a>
          </div>
          <blockquote class="col-sm-9">
            <div class="lquote">&ldquo;</div>
            <div class="quote">{{ testimonial.quote }}</div>
            <div class="from"> - {{ testimonial.from }}</div>
            <div class="rquote">&rdquo;</div>
          </blockquote>
        </div>
      {% endfor %}
    </div>
  </div>
</section>