<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <h3 class="section-subheading text-muted"><br>
                    <br>My name is <a class="page-scroll" href="#about">Nathan Stell</a>, and I'm a violin teacher.  
                    <br>Whether remote or local, it's my mission to keep lessons simple, effective, and accessible.</h3>
                
                        <div class="row">
                          <div class="col-lg-12 text-center">
                            <iframe width="560" height="315" src="//www.youtube.com/embed/hiTQrDtzkss" frameborder="0"allowfullscreen>           
                            </iframe>
                            </video>
                          </div>
                        </div>


                    <div class="row text-left">
                        <div class="col-md-4">
                            <h4 class="service-heading">Unlimited Access to Instructor</h4>
                            <p class="text-muted">The set monthly <a class="page-scroll" href="#team">price</a> guarantees you at least 4 lessons within the month.  In addition to that, if you feel you would like and can handle more instruction, just visit the online calendar and book more time in one of the available time slots.
                            <br>You'll also be able to text, call, or email me if you have any questions in between lesson times.</p>
                        </div>

                        
                        <div class="col-md-4"> 
                            <h4 class="service-heading">Extended Lesson Time</h4>
                            <p class="text-muted">Lesson times often vary based on the age and skill level of the student.  For students 6 years of age and younger, at least two 15 minute lessons per week is recommended.</p>
                        </div>

                        <div class="col-md-4"> 
                            <h4 class="service-heading">Weekly Check-In Option</h4>
                            <p class="text-muted">This is a time, once a week, to discuss possible problems, celebrate break-throughs, and even brainstorm ideas. It can be done face-to-face online, or over the phone.
                            <br>It only takes 5-10 minutes and is completely optional.</p>
                        </div>
    
                    </div>
        </div>
    </section>
