<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it Works</h2>
                    <h3 class="section-subheading text-muted">Whether remote or local, lessons are kept simple and accessible.</h3>
                </div>
                </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Before We Start</h4>
                    <p class="text-muted"><a class="page-scroll" href="#contact">Contact me</a> and we'll discuss a platform (Skype, Zoom, Facetime, etc...). We'll also talk about music goals and how to build the best environment for learning the violin, tailored to your needs.  I'll also give you access to the online calendar where you will be able to sign up for lesson times throughout the week.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lessons</h4>
                    <p class="text-muted">Lessons will be a combination of technique exercises, supplementary games/activities, and stong study.  Lesson times vary and will depend on the age and skill level of the student.  For children below the age of 7, shorter and more frequent lessons are recommended.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Check-Ins</h4>
                    <p class="text-muted">All students and/or parents will have an opportunity to meet with me apart from their lesson(s) during the week.  It is a chance for me to help with any possible problems, celebrate break-throughs, and answer any questions you may have.  It is completely optional but can be highly beneficial.</p>
                </div>
            </div>
        </div>
    </section>
