<!-- Team Section -->
    <section id="team" class="pricing" >
        <div class="container">
            <div class="row">

                    <div class="col-md-1">
                    </div>

                    <div class="col-md-3 text-right">
                        <h2 class="section-heading">Set Price</h2>
                        <h3 class="service-heading"><h2 class="service-heading">$160</h2> <h3 class="service-heading"> per month</h3>
                        <p class="text-muted"> (<a class="page-scroll" href="#contact">contact me</a> for discounts based on geography)
                        
                        <a class="offer page-scroll" href="#contact">SIGN UP <br>to get your 
                            <br>first month *
                            <br>25% OFF!!
                        </a>
                        
                        <p class="text-muted"> * purchase or rental of violin, not necessary for first month
                    </div>

                    <div class="col-sm-1 image-right">
                        <img class="img-square img-responsive" src="img/pricing/for.jpg" alt="">
                    </div>


                    <div class="col-md-6 text-left">
                    <h2 class="section-heading">Tailored Instruction</h2>

                    <h4 class="service-heading">Unlimited Access to Instructor
                    <p class="text-muted">If you can handle more than the normal lesson/week, book extra time on the calendar at no extra cost.
                    <br>Phone, email, or text me with any questions you might have in between lessons.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>
                    <br>
                    <br>
                    <h4 class="service-heading">20 to 45 minute Lessons
                    <p class="text-muted">Music lessons are generally 30 minutes in length.
                    <br>To accomodate each individual student, I allow for lessons to run as long as 45 minutes at any given time.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>         
                    <br>
                    <br>           
                    <h4 class="service-heading">Weekly Check-In Option
                    <p class="text-muted">Once a week optional 5-10 minute phone call.
                    <br>Ask questions, celebrate breakthroughs.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>
                    <br>
                    <br>Convenient access to online calendar to book extra lesson time</h4>
                    </div>

        </div>
    </section>
