<!-- Team Section -->
    <section id="team" >
        <div class="container">
            <!-- <div class="row"> -->
                <!-- <div class="col-lg-12 text-center"> -->
<!--                     <h2 class="section-heading">Set Price for Tailored Instruction</h2>
 -->                    <!-- <h3 class="section-subheading text-muted">Steps to Mastery</h3> -->
            <!-- </div> -->
            <!-- </div> -->
<!--             <div class="row">
                <div class="col-sm-4">
                    <img class="img-circle img-responsive" src="img/pricing/for.jpg" alt="">
                </div>
            </div>
 -->            <div class="row">
<!--                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">WHAT YOU PAY       -          WHAT YOU GET</p>
                </div>
 -->

                    <div class="col-md-1">
                    </div>

                    <div class="col-md-3 text-right">
                        <h2 class="section-heading">Set Price</h2>
                        <h3 class="service-heading">$100-$175 per month</h3>
                            <p class="text-muted"> (price varies based on local rates)
                            
                            <ul class="timeline">        
                                <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4><a class="page-scroll" href="#contact">SIGN UP
                                        <br>to get your
                                        <br>first month *
                                        <br>25% OFF!!</h4>
                                        </a>
                                </div>
                                </li>
                            </ul>
                    </div>

                    <div class="col-sm-1 image-right">
                        <img class="img-square img-responsive" src="img/pricing/for.jpg" alt="">
                    </div>


                    <div class="col-md-6 text-left">
                    <h2 class="section-heading">Tailored Instruction</h2>

                    <h4 class="service-heading">Unlimited Access to Instructor
                    <p class="text-muted">If you can handle more than the normal lesson/week, book extra time on the calendar at no extra cost.
                    <br>I am always available to answer questions through email, text, or phone.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>
                    <br>
                    <br>
                    <h4 class="service-heading">20 to 45 minute Lessons
                    <p class="text-muted">Music lessons are generally 30 minutes in length.
                    <br>To accomodate each individual student, I allow for lessons to run as long as 45 minutes at any given time.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>         
                    <br>
                    <br>           
                    <h4 class="service-heading">Weekly Check-In Option
                    <p class="text-muted">Once a week optional 5-10 minute phone call.
                    <br>Ask questions, celebrate breakthroughs.</p>  
                    <a class="page-scroll" href="#services">click to learn more</a>
                    <br>
                    <br>Convenient access to online calendar to book extra lesson time</h4>
                    </div>

        </div>
    </section>
