.testimonials a img {
	width: 100%;
	padding-bottom: 15px;
}

.testimonials blockquote {
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  padding-left: 38px;
}

.testimonials blockquote .lquote {
	font-size: 100px;
	position: absolute;
	left: -5px;
	top: -35px;
}

.testimonials blockquote .rquote {
	font-size: 100px;
	position: absolute;
	right: -5px;
	bottom: -75px;
}

.testimonials blockquote .from {
	font-style: italic;
	margin-top: 15px;
	margin-left: 15px;

}

.pricing .offer {
	background-color: #969491;
	border-radius: 98px 98px 98px 98px;
	-moz-border-radius: 98px 98px 98px 98px;
	-webkit-border-radius: 98px 98px 98px 98px;
	width: 130px;
	height: 130px;
	padding-top: 26px;
	display: block;
	text-align: center;
	line-height: 1.4em;
}

.pricing a.offer:hover {
	text-decoration: none;
	background-color: red;
}
